@import "../../../../../../general/style/variables.scss";

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $bg-color-Dark-Header;
    width: 100%;
    height: 60px;
}

.menu{
    display: flex;
    padding-left: 25px;
    align-items: center;
    //gap: 30px;
}

.customerMenu{
    display: flex;
    align-items: center;
    gap: 30px;
    padding-right: 25px;
}

/* App.css */
.customIcon{
    width: 20px;
    height: 20px;
    color: rgb(247, 247, 248);
  }
  
  /* Дополнительные стили и псевдоклассы, если нужно */
  .customIcon:hover {
    color: rgba(248, 187, 56, 0.849);
  }
  
  .customIcon:focus {
    outline: 2px solid green;
  }
  .icon-container {
    color: rgb(0, 255, 98); /* Установка цвета элемента */
  }

  .icon {
    fill: currentColor; /* Используем currentColor для fill */
    // stroke: currentColor; 
    /* Или для stroke */
  }