.iconBag{
  display: inline;
    color: red;
    fill: yellow;
    stroke: green;
    width: 24px;
    height: 24px;
    outline: 1px solid transparent;
  }
  
  .iconBag:hover {
    outline-color: rgba(33, 5, 134 ,0.1);
    fill:aqua;
    color: blue;
    stroke: black;
  }

  .iconBag:active {
    outline-color: rgb(33, 5, 134);
    fill:rgb(68, 8, 163);
    color: rgb(255, 196, 0);
    stroke: rgb(209, 30, 30);
  }

  .iconBag:focus {
    fill:rgb(255, 153, 0);
    color: rgb(0, 255, 115);
    stroke: rgb(252, 5, 67);
  }




  .iconBtn{
    color: red;
    fill: yellow;
    stroke: green;
    width: 20px;
    height: 20px;
    outline: 1px solid transparent;
  }

  // .iconBtn:hover {
  //   // outline-color: rgba(33, 5, 134 ,0.1);
  //   fill:aqua;
  //   color: blue;
  //   stroke: black;
  // }

  // .iconBtn:active {
  //   // outline-color: rgb(33, 5, 134);
  //   fill:rgb(68, 8, 163);
  //   color: rgb(255, 196, 0);
  //   stroke: rgb(209, 30, 30);
  // }

  .btnWithIconHeart{
    width: 40px;
    height: 40px;
    padding: 10px;
    border-radius: 10px;
    background: white;
    border: none;

    fill: #FA4A69;
  }

  .btnWithIconHeart:hover{    
    background: #FB6E87;
    fill: #FB6E87;
    stroke: white;
    stroke-width: 2px;
  }

  .btnWithIconHeart:active{
    background: #FA4A69;

    fill: white;
  }


  .btnWithIconBag{
    width: 40px;
    height: 40px;
    padding: 10px;
    border-radius: 10px;
    background: white;
    border: none;

    fill: #2D74FF;
  }

  .btnWithIconBag:hover{    
    background: #568FFF;

    fill: white;
  }

  .btnWithIconBag:active{
    background: #2D74FF;

    fill: white;
  }