//Dark header
$bg-color-Dark-Header: #1a1a1a;
$text-color-Dark-Header: rgba(255, 255, 255, 0.5);
$active-text-color-Dark-Header: #ffffff;

//Light Header
$bg-color-Light-Header: #ffffff;
$text-color-Light-Header: rgba(0, 0, 0, 0.67);
$active-text-color-Light-Header: #333333;