.iconBag{
    color: red;
    fill: yellow;
    stroke: green;
    // display: inline-block;
    width: 40px;
    height: 40px;
}

.iconBag:hover .iconBag {
    fill:aqua;
    color: blue;
    stroke: black;
}

// svg path{
//     fill: rgb(106, 139, 13);
//     fill-opacity:1;
//  }

//  .svg{
//      width:80px;
//      height:80px;
//      fill: white;
//      fill-opacity:1;
//  }

//  .svg:hover path
//  {
//  fill: rgba(245, 159, 79, 0.986);

//  }