.container{
  // position: relative;
}

.ghostBackDrop{
  left:0;
  right: 0;
  top: 0;
  bottom: 0;
  position: fixed;
  z-index: 998;
  // background-color: rgba(0, 0, 0, 0.1);
  // display: none;
}
.ghostBackDropHidden{
  display: none;
}
.ghostBackDropShow{
  // display: block;
}

.menuBox {
  display: flex;
  align-items: center;
  gap: 30px;
  // position: absolute;
  z-index: 999;
}

.menuDropDownBox{
  display: flex;
  gap: 70px;
  position: absolute;
  z-index: 999;
  top: 100px;
  left: 60px;
}
.subMenuItem {
  width: 260px;
  //border: 1px solid black;
}

.subMenuItem{

}
.menuItem {
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  // padding: 7px 0;
  //transition: all 0.7s ease;
}

.menuItemLink {
  display: block;
  text-decoration-line: none;
  color: black;
  // padding: 7px 0;
}

.mainMenu{
  color: white;
}

.active {
  color: #2D74FF;
}

//.menuItem:hover {
//  //color: gray;
//  font-weight: 600;
//}

.subMenuTitle {
  display: flex;
  justify-content: space-between;

  font-size: 24px;
  font-weight: 500;
  height: 55px;
  // margin-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}